In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['a', 'b', 'c'])

In [5]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
df1 = pd.DataFrame([[11,2,31], [41,5,6], [27,8,29]], columns=['A', 'B', 'C'])

In [7]:
df1

    A  B   C
0  11  2  31
1  41  5   6
2  27  8  29

In [8]:
pd2 = pd.merge(df, df1, right_on='B', left_on='b')

In [9]:
pd2

   a  b  c   A  B   C
0  1  2  3  11  2  31
1  4  5  6  41  5   6
2  7  8  9  27  8  29

In [10]:
import json

In [11]:
json_data = '{"a":1, "b":2, "c":3}'

In [13]:
x = json.loads(json_data)

In [19]:
x['c']

3

In [34]:
f = open('f1.json', 'w')
y='''{"Email1":"rakesh@gamil.com","Email2":"rocky@gammil.com","Email3":"rakesh.rr@gmail.com",
 "Email4":"rakesh.rr.rr@gmail.com"
}'''

In [35]:
x = json.dump(y, f)

In [32]:
x

In [33]:
f

In [36]:
with open("f1.json", "w") as f:
    json.dump(y, f)